<!-- Trusted Brands Banner -->
<section class="trusted-brands-banner" id="brands">
  <h2 class="section-title">Brands That Trusted Us</h2>
  <div class="brand-grid">
    <div class="brand-item">
      <img src="../images/zoff.png" alt="Zoff Foods">
    </div>
    <div class="brand-item">
      <img src="../images/wakefit.jpg" alt="Wakefit">
    </div>
    <div class="brand-item">
      <img src="../images/flatheads.png" alt="Flatheads">
    </div>
    <div class="brand-item">
      <img src="../images/superbottoms.png" alt="SuperBottoms">
    </div>
        <div class="brand-item">
      <img src="../images/kimirica.png" alt="SuperBottoms">
    </div>
        <div class="brand-item">
      <img src="../images/bummer.png" alt="SuperBottoms">
    </div>
        <div class="brand-item">
      <img src="../images/thewholetruth.jpg" alt="SuperBottoms">
    </div>
  </div>
</section>