<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gati Logistics - Packers & Movers</title>
  <link rel="stylesheet" href="../style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
</head>

<body>

  <div id="contact">
    <section class="get-in-touch-section">
      <div class="carousel-container">
        <div class="carousel-images">
          <img src="../images/storage/store1.jpeg" alt="Team 1" />
          <img src="../images/House/House16.avif" alt="Team 2" />
          <img src="../images/cars/car5.jpg" alt="Team 3" />
          <img src="../images/Bike/bike15.jpg" alt="Team 4" />
        </div>
      </div>

      <div class="contact-info-box">
        <h2>Get In Touch</h2>
        <p>
          For reliable shifting services across India, choose Gati House Shifting
          Packers & Movers. We provide door-to-door transport and affordable
          logistics solutions.
        </p>

        <ul class="contact-list">
          <li><i class="fas fa-phone"></i> +91 7777039040</li>
          <li><i class="fas fa-envelope"></i>gatishiftingpackers@gmail.com</li>
          <li><i class="fas fa-comments"></i> Chat Now</li>
          <li><i class="fas fa-map-marker-alt"></i> India</li>
        </ul>

        <div class="social-icons">
          <a target="_blank" href="https://www.facebook.com/share/1CZTDwNPWw/
          "><i class="fab fa-facebook-f"></i></a>

          <a target="_blank" href="https://www.instagram.com/gati_shifting_packers_pvt_ltd/profilecard/?igsh=eXYzY25mYXkyNG05
          "><i class="fab fa-instagram"></i></a>

          <a target="_blank" href="https://x.com/gati_shifting"><i class="fab fa-x-twitter"></i></a>

          <a target="_blank"
            href="https://www.linkedin.com/in/gati-shifting-6878bb377?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "><i
              class="fab fa-linkedin-in"></i></a>

          <a target="_blank" href="https://youtube.com/@gatishifting-moves?si=Lz283_yPnXuNCkQW"><i
              class="fab fa-youtube"></i></a>
        </div>
      </div>
    </section>

  </div>
</body>

</html>