<div id="footer">
  <footer class="footer">
    <div class="footer-top">
      <!-- Logo & Address Block -->
      <div class="footer-brand">
        <img src="../images/logo2.png" alt="Gati Logo" class="footer-logo" />
        <p class="footer-address">
          Gati House Shifting Packers & Movers<br />
          Ghansoli, Navi Mumbai, <br />
          Maharashtra - 400701 <br>
          <i class="fas fa-phone"></i> +91 9 300 300 300 <br>
        </p>

      </div>

      <!-- Footer Columns -->
      <div class="footer-columns">
        <div class="footer-column">
          <h4>About Gati</h4>
          <ul>
            <ul>
              <li><a target="_blank" href="../Footer_Pages/who-we-are.html">Who We Are</a></li>
              <li><a target="_blank" href="../Footer_Pages/why-gati.html">Why Gati</a></li>
              <li><a target="_blank" href="../Footer_Pages/our-team.html">Our Team</a></li>
              <li><a target="_blank" href="../Footer_Pages/vision-mission.html">Vision & Mission</a></li>
              <li><a target="_blank" href="../Footer_Pages/video-gallery.html">Our Videos</a></li>
              <li><a target="_blank" href="../Footer_Pages/photo-gallery.html">Photo Gallery</a></li>
            </ul>
          </ul>
        </div>

        <div class="footer-column">
          <h4>Need Help?</h4>
          <ul>
            <li><a target="_blank" href="../Pages/faq_page.html">FAQs</a></li>
            <li><a target="_blank" href="../Pages/contact_page.html">Get a Quote</a></li>
            <li><a target="_blank" href="../Footer_Pages/support.html">Customer Support</a></li>
            <li><a target="_blank" href="../Pages/contact_page.html">Contact Us</a></li>
            <li><a target="_blank" href="../Footer_Pages/moving-guide.html">Moving Guide</a></li>
            <li><a target="_blank" href="../Footer_Pages/report-issue.html">Report an Issue</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <ul>
            <h4>Our Services</h4>
            <ul>
              <li><a target="_blank" href="../Footer_Pages/services.html">Home Shifting</a></li>
              <li><a target="_blank" href="../Footer_Pages/services.html">Office Relocation</a></li>
              <li><a target="_blank" href="../Footer_Pages/services.html">Car/Bike Transport</a></li>
              <li><a target="_blank" href="../Footer_Pages/services.html">Pet Relocation</a></li>
              <li><a target="_blank" href="../Footer_Pages/services.html">AC Shifting</a></li>
              <li><a target="_blank" href="../Footer_Pages/services.html">Luggage Courier</a></li>
              <li><a target="_blank" href="../Footer_Pages/services.html">Tempo Rent for Shifting</a></li>
              <li><a target="_blank" href="../Footer_Pages/services.html">Storage Solutions</a></li>
              <li><a target="_blank" href="../Footer_Pages/services.html">International Moves</a></li>
            </ul>


          </ul>
        </div>

        <div class="footer-column">
          <h4>Secure Storage</h4>
          <ul>
            <a href="../Footer_Pages/services.html"><li>Warehouse</li></a>
            <a href="../Footer_Pages/services.html"><li>Home Storage</li></a>
          </ul>
          <h4>Other Links</h4>
          <ul>
            <li><a href="../Pages/reviews_page.html">Customer Testimonials</a></li>
            <li><a href="../Footer_Pages/safety-standards.html">Safety Standards</a></li>
            <li><a href="../Footer_Pages/terms&conditions.html">Terms & Conditions</a></li>
            <li><a href="../Footer_Pages/privay.html">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Bottom Footer -->
    <div class="footer-bottom">
      <div class="payments">
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-amex"></i>
        <i class="fab fa-cc-rupay"></i>
        <i class="fas fa-university"></i>
        <i class="fas fa-mobile-alt"></i> <!-- for UPI -->
      </div>

      <p>&copy; 2025 Gati House Shifting Packers & Movers. All Rights Reserved.</p>

      <div class="footer-links">
        <a href="../Footer_Pages/terms&conditions.html">Terms</a> | <a href="../Footer_Pages/terms&conditions.html">Privacy</a>
      </div>

      <div class="social-icons">
        <a target="_blank" href="https://www.facebook.com/share/1CZTDwNPWw/
"><i class="fab fa-facebook-f"></i></a>
        <a target="_blank" href="https://x.com/gati_shifting"><i class="fab fa-x-twitter"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/gati-shifting-6878bb377?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "><i class="fab fa-linkedin-in"></i></a>
        <a target="_blank" href="https://youtube.com/@gatishifting-moves?si=Lz283_yPnXuNCkQW"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </footer>

</div>