<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gatti Logistics - Packers & Movers</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

<!-- ==== Hero ==== -->
 <div id="hero">
    <section class="hero">
      <div class="hero-content">
        <div class="text-section">
          <h1>Moving Services by Gati House Shifting Packers Movers</h1>
          <p>
            Gati House Shifting <span>Packers Movers</span> are always ready
            to help make the moving and packing experience excellent, more
            efficient and easier for you and your family. Just sit back, chill
            out and know that you are in safe hands!
          </p>
          <p>
            Relocating to a new place can be a tiring and difficult process.
            There are many things to arrange and pack, including heavy
            furniture, electrical appliances and fragile and valuable antique
            items.
          </p>
          <p>
            Gati House Shifting's goal is to make your relocating experience as
            trouble-free as possible. Let us manage all of the difficult work.
            Our job is to be sure that your shifting is complete on time, every
            time.
          </p>
        </div>
      
          <div class="cards-section image-only">
  <img src="../images/about.png" alt="Relocation process" class="relocation-image" />
</div>

      </div>
    </section>
</div>
  </body>
</html>


